[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "*"
djangorestframework = "*"
environs = "*"
django-cors-headers = "*"
channels = {extras = ["daphne"], version = "*"}
djoser = "*"
python-dotenv = "*"
dj-database-url = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.12"
